/* Tried my best there to standardize colors, font-sizes and such but there are irregularities
   scattered all over the repo because the actual visual design output was lacking a standardization.
   So, expect to see non-standard values.
 */
:root {
  font-size: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-size-medium: 16px;
  --font-size-big: 24px;
  --font-size-bigger: 32px;
  --font-size-huge: 48px;
  --color-purple-light: #9013fe; /* (Side menu titles eg. Use Cases, Get Started, Media) */
  --color-purple: #4d00b4; /* Kleros Main Purple */
  --color-purple-darker: #6700b4;
  --color-purple-darkest: #1e075f;
  --color-purple-faded: #9013fe33;
  --color-pink-lightest: #f2e3ff;
  --color-pink-light: #bd73ff;
  --color-pink: #d8b6ff; /* (90% of all texts when over purple background) */
  --color-pink-dark: #824ccb; /* (texts when over white background) */
  --color-blue-light: #7bcbff;
  --color-blue: #009aff;
  --color-gray: #333;
  --color-gray-light: #999;
  --color-red: #f60c36;
  --border-radius: 18px;
}

.white {
  color: white;
}
.purple {
  color: var(--color-purple);
}

.purple-light {
  color: var(--color-purple-light);
}

.pink {
  color: var(--color-pink);
}
.bold {
  font-weight: var(--font-weight-bold);
}

.medium {
  font-size: var(--font-size-medium);
}
.big {
  font-size: var(--font-size-big);
}

.bigger {
  font-size: var(--font-size-bigger);
}

.huge {
  font-size: var(--font-size-huge);
}

.bg-light {
  background: white;
}

.rounded {
  border-radius: var(--border-radius) !important;
}

body {
  color: white;
}

footer svg {
  width: 16rem;
  height: auto;
  margin: 0;
}

footer a {
  text-decoration: none;
}

h1 {
  color: white;
  font-weight: 600;
  font-size: var(--font-size-huge);
}

h2 {
  color: var(--color-pink);
  font-weight: normal;
  font-size: var(--font-size-big);
}

.light > h1, .grey > h1 {
  color: var(--color-purple);
}

.light > h2, .grey > h2 {
  color: var(--color-gray-light);
}

@media (max-width: 500px) {
  h1 {
    font-size: 34px;
  }
}

.text {
  color: var(--color-pink);
}

a,
p,
small {
  color: var(--color-pink);
}

a:hover {
  text-decoration: none;
  color: white;
}

section.light a:hover {
  color: var(--color-blue);
}

.btn:hover {
  text-decoration: none;
  color: white !important;
}

main .btn,
footer .btn {
  margin: auto;

  margin-top: 1.5rem;
  font-weight: 600;
  border-width: 0;
  max-width: 30rem;
  width: auto;
  font-size: 1.285714286rem;
  color: white;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background: var(--color-blue);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:focus {
  background: var(--color-purple-light);
}

hr {
  border: 1px solid var(--color-purple-light);
}

section.masked {
  background-color: var(--color-purple-darkest);
  background: center / contain no-repeat url("/logos-shadow.svg");
  background-size: contain;
}

section.speaker {
  background: center / contain no-repeat url("/illustration-speakers.svg");
  background-color: var(--color-purple-darkest); /* Order is important */
  background-size: auto;
}

section.integrations {
  background: center / contain no-repeat url("/illustration-integrations.svg");
  background-color: var(--color-purple-darkest); /* Order is important */
  background-size: auto;
}

section.grey {
  background-color: #FAFBFC;
}

section.light {
  background-color: white;
}

span.trapezium {
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0;
  background: transparent;
  border-style: solid;
  border-top-width: 3rem;
  border-left-width: 49vw;
  border-right-width: 49vw;
  border-color: #fafbfc transparent transparent transparent;
}

span.trapezium.masked {
  border-top-color: var(--color-purple-darkest);
}

input {
  background-color: var(--color-purple-faded) !important;
  height: unset;
  border-radius: 300px !important;
  background: var(--color-purple-faded);
  border: none !important;
  z-index: 1;
  padding: 0.8rem 2rem !important;
}

input:enabled {
  color: white !important;
}
input::placeholder {
  color: var(--color-pink) !important;
}

.nav-link.active {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

*:focus {
  outline: none;
}

.grayscale {
  filter: grayscale(100%);
  filter: gray;
}

.dropdown-menu {
  background-color: white !important;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 16px;
  padding-bottom: 16px;
}

.dropdown-item {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0px;
  padding-left: 16px;
}

.dropdown-item:hover {
  padding-left: 13.3px;
  background-color: rgba(0, 154, 255, 0.06);
  border-left: 3px solid #009AFF;
}

:global(.slick-dots) > li {
  transform: scale(2);
}

:global(.slick-dots) > li > button::before {
  color: var(--color-blue) !important;
}
