import React from "react";
import Layout from "../components/layout";
import SEO from "../components/seo";
import { FormattedMessage, injectIntl } from "gatsby-plugin-intl";
import styles from "./styles/page.module.css";

const Page = ({ intl }) => (
  <Layout>
    <SEO lang={intl.locale} title={intl.formatMessage({ id: "page.seo-title" })} />
    <div className={styles.page}>
      <section className={styles.hero}></section>
    </div>
  </Layout>
);

export default injectIntl(Page);
