.about {
  margin-bottom: 0;
}

.team {
  text-align: left;
}

.team > div > div > img {
  width: 100%;
}

.portraitContainer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
}

.portraitContainer {
  position: relative;
}

.portraitContainer:hover .overlay {
  display: block;
  opacity: 0.8;
  background-color: var(--color-purple-light);
}

.overlay {
  text-align: center;
}

.overlay span {
  display: block;
  font-size: var(--font-size-big);
}

.overlay span:first-child {
  margin-top: 30%;
  font-weight: var(--font-weight-bold);
}

.social {
  justify-content: space-around;
  margin-top: 3rem;
}

.social > a > svg {
  width: 2rem;
  fill: white;
}

.social path {
  fill: white;
}
