.career .hero {
  background-image: url("/icosahedron-silhouette.svg"), linear-gradient(180deg, #1e075f 21.45%, #9013fe 45%, white 45%, white 100%);
  background-repeat: no-repeat;
  background-position: 50% 200px, center center;
}

.career .mission {
  padding-top: 0;
  /* TODO background: linear-gradient(210deg, transparent 67%, red 67%), linear-gradient(-120deg, transparent 50%, green 100%); */
}

.career .sliders {
  margin-top: 64px;
}

.career .sliders > div > div {
  margin-bottom: 32px;
}

.career .culture {
}

.career .culture > .images {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(16px + 1vw);
  position: relative;
  font-size: min(12vw, 160px);
}

.career .culture > .images > .values {
  position: absolute;
  background-color: transparent;
  justify-self: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.career .culture > .images > .values span {
  transform: rotate(-45deg);
  font-size: 0.13em;
  font-weight: var(--font-weight-bold);
}

.career .culture > .images > .values > .valueContainer {
  display: flex;
  place-content: center;
  place-items: center;
  background-color: var(--color-purple-light);
  transform: rotateY(0deg) rotate(45deg);
  width: 1em;
  height: 1em;
  font-size: 1em;
  border-radius: min(2vw, var(--border-radius));
}

.career .culture .valueContainer:nth-child(1) {
  align-self: end;
  margin-bottom: 0.35em;
}
.career .culture .valueContainer:nth-child(2) {
  align-self: end;
  margin-bottom: 1.3em;
}
.career .culture .valueContainer:nth-child(3) {
  align-self: end;
  margin-bottom: 0.35em;
}

.career .culture .valueContainer:nth-child(4) {
  margin-top: 0.35em;
}
.career .culture .valueContainer:nth-child(5) {
  margin-top: 1.3em;
}
.career .culture .valueContainer:nth-child(6) {
  margin-top: 0.35em;
}

.career .culture .playContainer {
  position: absolute;
  place-self: center;
  width: 1em;
}

.career .culture .playContainer a {
  padding: 0;
  margin: 0;
  width: inherit;
  height: auto;
}

.career .culture > .images > div {
  height: fit-content;
  display: grid;
  grid-row-gap: calc(16px + 1vw);
}

.career .culture > .images > div:first-child {
  justify-self: end;
  justify-items: end;
  grid-template-rows: min(21vw, 300px) min(26vw, 371px) min(21vw, 300px);
}

.career .culture > .images > div:nth-child(2) {
  grid-template-rows: min(24vw, 335.5px) min(20vw, 300px) min(24vw, 335.5px);
}

.career .team {
  height: fit-content;
  width: auto;
  padding-top: 0;
  margin-top: 128px;
  background: linear-gradient(15deg, white 0, white 65%, var(--color-purple-darkest) 65 yyyy%, var(--color-purple-darkest) 100%);
}

.career .positions {
  height: 400px;
  color: black;
}

.career .carousel img {
  max-width: auto;
}

.career .topslider :global(.slick-list) {
  margin-left: 60px;
}

.career .bottomslider :global(.slick-list) {
  margin-right: 60px;
  height: 400px;
}

.career .carousel {
  /* background: repeating-linear-gradient(var(--color-purple-light) 0, var(--color-purple) 50%, white 50%, white 100%); */
}

.career .topslider {
  margin-bottom: 16px;
}

.career .topslider :global(.slick-track) {
  align-items: baseline;
  display: flex;
}

.career .sliders :global(.slick-track) > div {
  /* width: auto !important; */
  /* max-width: 100%; */
}

.career .sliders :global(.slick-track) > div > div {
  margin: 16px;
  margin-bottom: 0;
  margin-top: auto;
  /* max-width: 100%; */
}

.career .topslider :global(.slick-track) > div:nth-child(3n) img {
  max-height: 290px;
}

.career .topslider :global(.slick-track) > div:nth-child(3n + 1) img {
  max-height: 350px;
}

.career .topslider :global(.slick-track) > div:nth-child(3n + 2) img {
  max-height: 320px;
}

.career .bottomslider :global(.slick-track) > div:nth-child(3n) img {
  max-height: 350px;
}

.career .bottomslider :global(.slick-track) > div:nth-child(3n + 1) img {
  max-height: 290px;
}

.career .bottomslider :global(.slick-track) > div:nth-child(3n + 2) img {
  max-height: 320px;
}

.career .sliders :global(.slick-dots) > li > button::before {
  color: white !important;
}

.career .sliders :global(.slick-dots) > li {
  transform: scale(2);
}
