.career .hero {
  background: repeating-linear-gradient(red 0, var(--color-purple) 50%, white 50%, white 100%);
  background-image: url("/icosahedron-silhouette.svg"), linear-gradient(180deg, #1e075f 21.45%, #9013fe 45%, white 45%, white 100%);
  background-repeat: no-repeat;
  background-position: 50% 200px, center center;
}

.career .mission {
  padding-top: 0;
  /* TODO background: linear-gradient(210deg, transparent 67%, red 67%), linear-gradient(-120deg, transparent 50%, green 100%); */
}

.career .sliders {
  margin-top: 64px;
}

.career .sliders > div > div {
  margin-bottom: 32px;
}

.career .culture {
}

.career .culture > div {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(16px + 1vw);
}

.career .culture > div > div {
  height: fit-content;
  display: grid;
  grid-row-gap: calc(16px + 1vw);
}

.career .culture > div > div:first-child {
  justify-self: end;
  justify-items: end;
  grid-template-rows: min(21vw, 300px) min(26vw, 371px) min(21vw, 300px);
}

.career .culture > div > div:nth-child(2) {
  grid-template-rows: min(24vw, 335.5px) min(20vw, 300px) min(24vw, 335.5px);
}

.career .positions {
  height: 400px;
}

.career .carousel img {
  max-width: auto;
}

.career .topslider :global(.slick-list) {
  margin-left: 60px;
}

.career .bottomslider :global(.slick-list) {
  margin-right: 60px;
  height: 400px;
}

.career .carousel {
  /* background: repeating-linear-gradient(var(--color-purple) 0, var(--color-purple) 50%, white 50%, white 100%); */
}

.career .topslider {
  margin-bottom: 16px;
}

.career .topslider :global(.slick-track) {
  align-items: baseline;
  display: flex;
}

.career :global(.slick-track) > div {
  /* width: auto !important; */
  /* max-width: 100%; */
}

.career :global(.slick-track) > div > div {
  margin: 16px;
  margin-bottom: 0;
  margin-top: auto;
  /* max-width: 100%; */
}

.career :global(.slick-track) > div > div > div {
  /* width: auto !important; */
  /* max-width: 100%; */
}

.career .topslider :global(.slick-track) > div:nth-child(3n) img {
  max-height: 290px;
}

.career .topslider :global(.slick-track) > div:nth-child(3n + 1) img {
  max-height: 350px;
}

.career .topslider :global(.slick-track) > div:nth-child(3n + 2) img {
  max-height: 320px;
}

.career .bottomslider :global(.slick-track) > div:nth-child(3n) img {
  max-height: 350px;
}

.career .bottomslider :global(.slick-track) > div:nth-child(3n + 1) img {
  max-height: 290px;
}

.career .bottomslider :global(.slick-track) > div:nth-child(3n + 2) img {
  max-height: 320px;
}

.career :global(.slick-dots) > li > button::before {
  color: white !important;
}

.career :global(.slick-dots) > li {
  transform: scale(2);
}
