.coop svg {
  width: 80%;
}

.coop .steps > h1 {
  color: var(--color-pink);
}

.coop .steps > div:nth-of-type(1) {
  background: left / contain no-repeat url("/1.svg");
}

.coop .steps > div:nth-of-type(2) {
  background: left / contain no-repeat url("/2.svg");
}

.coop .steps > div:nth-of-type(3) {
  background: left / contain no-repeat url("/3.svg");
}

.coop .steps > div {
  margin: 5rem 0;
}

.coop .reports > h1 {
  margin-bottom: 64px;
}

.coop .reports > label {
  color: var(--color-gray);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  & > select {
    margin-left: 16px;
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
    border: none;
    color: var(--color-purple);
    background-color: white;
  }
}

.coop .reports > a {
  display: block;
  margin: 12px auto 0 auto !important;
  width: max-content;
}

