.escrow .dappImage svg {
  border-radius: 12px;
}

.escrow .buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  align-content: space-between;
}

.escrow .helper {
  /* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.escrow .badge {
  margin-top: 1.5rem;
  max-width: 30rem;
  height: 9rem;
  background-color: white;
  padding: 1rem 3rem;
  border-radius: 12px;
}

.escrow .h1 {
  margin-bottom: 2rem;
}

