.escrow .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #1e075f 21.45%, #9013fe 100%);
  background-repeat: no-repeat;
  margin-bottom: -4.4vw;
  padding-bottom: 0;
}

.escrow .hero svg,
.escrow .hero img {
  align-self: center;
  width: 80vw;
}

.escrow .playButton {
  display: inline-block;
  align-self: center;
  width: 8.8vw;
}

.escrow .dappImage svg {
  border-radius: 12px;
}

.escrow .usecases {
}

.escrow .buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  align-content: space-between;
}

.escrow .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* space between columns for demo */
  grid-gap: 2rem;
  margin-top: 4rem;
}

@media (max-width: 1200px) {
  .escrow .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* space between columns for demo */
    grid-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .escrow .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* space between columns for demo */
    grid-gap: 2rem;
  }
}

.escrow .helper {
  /* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.escrow .badge {
  margin-top: 1.5rem;
  max-width: 30rem;
  height: 9rem;
  background-color: white;
  padding: 1rem 3rem;
  border-radius: 12px;
}

.escrow .h1 {
  margin-bottom: 2rem;
}

