.index {
  text-align: center;
}

.hero img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.hero > img {
  margin-top: 3rem;
}

.buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  align-content: space-between;
}

.hero .buttonWrapper button {
  margin-top: 1.5rem;
}

.index hr {
  margin: 5rem 4rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* space between columns for demo */
  grid-gap: 2rem;
  margin-top: 4rem;
}

@media (max-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* space between columns for demo */
    grid-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* space between columns for demo */
    grid-gap: 2rem;
  }
}
