.integrations {
  text-align: left;
}

.integrations .sectionHeader {
  background: linear-gradient(148.16deg, #4d00b4 15.9%, #1e075f 59.16%);
  text-align: center;
}

.integrations input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 1.4rem 1.4rem !important;
}

.integrations .prepend span {
  border: 0;
  background: var(--color-purple-faded);
  border-top-left-radius: 300px !important;
  border-bottom-left-radius: 300px !important;
  outline: unset;
  padding: 0 3rem;
}

.integrations .prepend svg {
  width: auto;
}

.integrations aside {
  background: red;
  height: 100px;
  float: left;
  width: 100px;
}

.integrations #v-pills-home-tab {
  background-color: red !important;
}

.integrations .items {
  background-color: var(--color-purple-darkest);
}

.integrations .items a {
  font-size: var(--font-size-medium);
}

.integrations .items a.active {
  color: white;
}

.integrations .items h2 {
  color: white;
  font-size: var(--font-size-bigger);
}

.integrations .accordion div {
  background-color: transparent !important;
  border: none;
  font-size: var(--font-size-medium);
}

.integrations .accordion div.card-header {
  color: var(--color-pink);
  font-weight: var(--font-weight-bold);
  padding-left: 0;
}

.integrations .card-body {
  padding-left: 0;
}

.integrations .card-header {
  cursor: pointer;
}

.integrations .open::before,
.integrations .closed::before {
  color: var(--color-blue);
  font-size: 3rem;
  margin-right: 2rem;
}

.integrations .open::before {
  content: "+";
  vertical-align: middle;
}

.integrations .closed::before {
  content: "-";
  vertical-align: sub;
}

.integrations .card-body {
  color: white;
}

.integrations .nav {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5rem;
}

@media (min-width: 800px) {
  .integrations .nav {
    float: left;
    flex-direction: column;
  }

  .integrations .items > div:nth-child(2) {
    margin-left: 20rem;
  }
}

.integrations .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 4rem;
}

@media (max-width: 1200px) {
  .integrations .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* space between columns for demo */
    grid-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .integrations .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* space between columns for demo */
    grid-gap: 2rem;
  }
}

.integrations span {
  font-weight: var(--font-weight-bold);
}

.integrations h2 {
  font-weight: var(--font-weight-bold);
}

.integrations h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-bigger);
  color: var(--color-pink);
}

.integrations p {
  margin-top: 3rem;
  font-size: var(--font-size-big);
}

.integrations iframe {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
