.media {
  text-align: left;
}

.sectionHeader {
  background: linear-gradient(148.16deg, #4d00b4 15.9%, #1e075f 59.16%);
  text-align: center;
}

.media input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 1.4rem 1.4rem !important;
}

.prepend {
}

.prepend span {
  border: 0;
  background: var(--color-purple-faded);
  border-top-left-radius: 300px !important;
  border-bottom-left-radius: 300px !important;
  outline: unset;
  padding: 0 3rem;
}

.prepend svg {
  width: auto;
}

.media aside {
  background: red;
  height: 100px;
  float: left;
  width: 100px;
}

.media #v-pills-home-tab {
  background-color: red !important;
}

.questions {
  background-color: var(--color-purple-darkest);
}

.questions a {
  font-size: var(--font-size-medium);
}

.questions a.active {
  color: white;
}

.questions h2 {
  color: white;
  font-size: var(--font-size-bigger);
}

.accordion div {
  background-color: transparent !important;
  border: none;
  font-size: var(--font-size-medium);
}

.accordion div.card-header {
  color: var(--color-pink);
  font-weight: var(--font-weight-bold);
  padding-left: 0;
}

.card-body {
  padding-left: 0;
}

.card-header {
  cursor: pointer;
}

.open::before,
.closed::before {
  color: var(--color-blue);
  font-size: 3rem;
  margin-right: 2rem;
}

.open::before {
  content: "+";
  vertical-align: middle;
}

.closed::before {
  content: "-";
  vertical-align: sub;
}

.media .card-body {
  color: white;
}

.nav {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5rem;
}

@media (min-width: 800px) {
  .nav {
    float: left;
    flex-direction: column;
  }

  .questions > div:nth-child(2) {
    margin-left: 20rem;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 4rem;
}

@media (max-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* space between columns for demo */
    grid-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* space between columns for demo */
    grid-gap: 2rem;
  }
}

span {
  font-weight: var(--font-weight-bold);
}
