.research {
  margin-bottom: 4rem;
}

.research .director {
  background-color: white;
}

.research .hero > h2 {
  font-weight: var(--font-weight-bold);
}

.research .director img {
  background-color: white;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.research .director h1 {
  color: var(--color-gray);
}

.research .director h2 {
  color: var(--color-purple);
  font-weight: var(--font-weight-bold);
}

.research .director p {
  color: var(--color-gray-light);
}

.research .papers > h1 {
  margin-bottom: 4rem;
}

.research .cards > div {
  margin-bottom: 2rem;
}
