.contact {
  background-color: var(--color-purple-faded);
  border-radius: 37.3588px;
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  place-items: center;
  padding: 1rem 1.5rem;
}

.icons a > svg {
  height: 6rem;
  width: auto;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: inline;
}

.brand {
  display: none;
}

.contact span {
  color: white;
  font-size: var(--font-size-bigger);
  white-space: nowrap;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column: 1 / span 2;
  justify-self: center;
}

.rest {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  display: block;
}

@media screen and (min-width: 500px) {
  .contact {
    grid: 1fr 1fr / 1fr 1fr 1fr;
    padding: 1rem 1.5rem;
  }

  .brand {
    display: block;
    grid-row: 1 / span 2;
    justify-self: start;
    grid-column: 1;
    height: 75%;
  }

  .rest {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;

    display: block;
  }
}

@media screen and (min-width: 850px) {
  .contact {
    grid: 1fr / [logo] 4fr [text] 16fr [icons] 6fr;
  }

  .brand {
    display: block;
    grid-column: logo;
    height: 100%;
  }

  .rest {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .contact span {
    font-size: var(--font-size-huge);
    grid-column: text;
    display: block;
    align-self: center;
    margin-left: 2rem;
  }

  .icons {
    justify-self: right;
    display: block;
    grid-column: icons;
  }
}
