.footer {
  position: relative;
}

footer a,
footer p,
footer small {
  font-size: 1.285714286rem !important;
}

.footer svg {
  width: 20vmin;
  height: auto;
  margin: 0;
}

.footer a {
  text-decoration: none;
}

.footer > div {
  padding: 3rem 6vw;
}

.scrollback {
  background: var(--color-purple) !important;
  width: 4rem !important;
  font-size: 2rem !important;
  color: white;
  border-radius: 100% !important;
  height: auto !important;
  position: absolute;
  top: -1.3rem;
  left: 80%;
  box-shadow: none !important;
  min-width: auto !important;
}

.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(300px - 8vw);
}

.footer > div > div > div:nth-child(3) {
  align-self: center;
  text-align: -webkit-right;
}

.footer hr {
  border: 1px solid #9013fe;
}

.footer > div > div > div:nth-child(2) {
  text-align-last: center;
}

.footer svg {
  fill: white;
}

.footer > div > div:nth-child(3) {
  justify-content: center;
}

.bottomContainer {
  min-width: 300px;
  max-width: 40vw;
}

.social {
  justify-content: space-around;
  margin-bottom: 3rem;
}

.social > a > svg {
  width: 3.2vmin;
}

.subscribe > div > input {
  height: unset;
  border-radius: 300px !important;
  background: var(--color-purple-faded);
  border: none;
  z-index: 1;
}

.subscribe > div > div > button {
  margin-left: -35px;
  z-index: 30 !important;
  width: auto;
  padding: 0 2rem;
  border-radius: 300px !important;
}
