.footer {
  position: relative;
}

.footer .scrollback {
  background: var(--color-purple) !important;
  width: 5rem !important;
  font-size: 2rem !important;
  font-weight: 400;
  transform: rotate(-90deg);
  color: white;
  border-radius: 100% !important;
  height: 5rem;
  position: absolute;
  top: -2.5rem;
  left: 75%;
  box-shadow: none !important;
  min-width: auto !important;
  margin: 0 !important;
  padding: 1.6rem;
  padding-right: 0.5rem;
}

.footer .links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(400px - 7vw);
  min-height: 140px;
}

.footer > div > div > div:nth-child(3) {
  text-align: -webkit-right;
}

.footer > div > div > div:nth-child(2) {
}

.footer svg path {
  fill: white;
}

.footer > div > div:nth-child(3) {
  justify-content: center;
}

.footer .bottomContainer {
}

.footer .social {
  justify-content: space-around;
  margin-bottom: 3rem;
}

.footer .social > a {
  margin: 1rem;
  display: flex;
  flex-basis: 13%;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 860px) {
  .footer .social > a {
    flex-basis: auto;
  }
}

.footer .social > a > svg,
.footer .social > a > img {
  width: 2rem;
}

@media (max-width: 500px) {
  .footer .social > a > svg {
    width: 1.4rem;
  }
}

.footer .subscribe > div > input {
  height: unset;
  border: none;
  z-index: 1;
}

.footer .subscribe > div > div > button {
  margin-left: -35px;
  z-index: 30 !important;
  width: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  border-radius: 300px !important;
}
