.header {
  background-color: var(--color-purple-darkest);
}

.header .brand {
  width: 8rem;
  height: auto;
}

.header a,
.header button,
.header p {
  font-weight: 500;
}

.header .productsCard :global(.card-body) {
  display: flex;
  margin-top: 24px;
}

.header .productsCard :global(.card-body) > div:first-child {
  margin-right: 120px;
}

.header .productsCard :global(.card-header) {
  background-color: white;
  color: var(--color-gray);
  text-align: center;
  font-size: 16px;
  padding: 24px;
}

.header .productsCard :global(.card-header) > span {
  height: 16px;
  width: auto;
  margin-right: 8px;
  vertical-align: text-bottom;
  margin-right: 8px;
}

.header .productsCard :global(.card-header) > span > svg {
  height: 16px;
  width: auto;
}

.header .usecases div,
.header .research div,
.header .governance div,
.header .docs div,
.header .about div {
  background-color: white !important;
}

.header :global(.dropdown-toggle)::after {
  vertical-align: middle;
}

.header .usecases div a,
.header .research div a,
.header .governance div a {
  color: var(--color-gray) !important;
}

.header .productsTitle {
  text-align: center;
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  color: var(--color-purple);
  margin-bottom: 0;
  padding-top: 24px;
}

.header button,
.header button:hover,
.header button:active,
.header button:focus,
.header button:link {
  text-align: left;
  box-shadow: none;
  background-color: transparent;
  color: white;
}

.header span,
.header span:active,
.header span:hover,
.header span:focus,
.header span:link {
  box-shadow: none;
  border: none;
}

.header nav div div div {
  background-color: transparent;
  opacity: 1;
  border: none;
}

@media screen and (min-width: 768px) {
  .header nav > div > div:nth-child(2) > div > div {
    margin-top: 1rem !important;
    min-width: fit-content;
    display: flex;
  }

  .header nav div div:nth-child(1) button:not([class~="collapsed"])::after {
    background-color: white;
    content: "";
    display: block;
    height: 24px;
    width: 24px;
    margin-left: -12px;
    left: 50%;
    bottom: -29px;

    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
  }

  .header nav div div:nth-child(1) button[class~="collapsed"]::after {
    content: " ";
    display: inline-block;
    border-top: 0.6ex solid transparent;
    border-bottom: 0.6ex solid transparent;
    border-left: 0.6ex solid;
    vertical-align: middle;
    transform: translateY(-0.1rem);
    margin-left: 0.5rem;
    transform: rotate(90deg) translateX(0px);
  }
}
@media screen and (max-width: 992px) {
  .header nav div div:nth-child(1) button[class~="collapsed"]::after {
    transform: rotate(90deg) translateX(0px);
  }

  .header nav div div:nth-child(1) button::after {
    content: " ";
    display: inline-block;
    border-top: 0.6ex solid transparent;
    border-bottom: 0.6ex solid transparent;
    border-left: 0.6ex solid;
    vertical-align: middle;
    transform: translateY(-0.1rem);
    margin-left: 0.5rem;
  }
}

.header nav div:nth-child(2) > div > a:after,
.header nav div:nth-child(2) > div > a:before {
  content: none;
}

.header nav > div > div:nth-child(2) > div > div > a {
  display: inline;
  text-align: right;
}

@media screen and (max-width: 992px) {
  .header div > div:nth-child(2) > div > div {
  }

  .header div > div:nth-child(2) > div > a {
  }
}

.header svg {
  width: 3rem;
}

.header .flagContainer > div {
  text-align: center;
  width: auto;
}

.header .productsCard:global(:not(.show)) {
  background-color: red;
  display: flex;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: none;
}
