.horizontalCard {
  background: linear-gradient(90deg, #4d00b4 0%, #9013fe 100.02%);
  border-radius: 12px;
  text-align: left;
  padding: 1.6rem;
  height: 100%;
  overflow: auto;
  display: flex;
}

@media (max-width: 320px) {
  .horizontalCard {
    justify-content: center;
    text-align: center;
  }
}

.horizontalCard svg,
.horizontalCard img {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}

.horizontalCard .title {
  margin-bottom: 2rem;
}

.horizontalCard span,
.horizontalCard a {
  font-size: var(--font-size-medium);
  color: white;
  font-weight: var(--font-weight-bold);
  align-self: center;
}

.horizontalCard div {
  font-size: var(--font-size-big);
  color: white;
  font-weight: var(--font-weight-bold);
}
