.mediaCard {
  background: white;
  border-radius: 12px;
  text-align: left;
  padding: 1.6rem;
  height: 100%;
  overflow: auto;
  text-align: center;
  border-radius: 12px;
}

.mediaCard span:nth-of-type(1) {
  color: var(--color-purple);
  font-weight: var(--font-weight-bold);
  display: block;
}

.mediaCard span:nth-of-type(2) {
  font-size: var(--font-size-medium);
  color: var(--color-pink);
  display: block;
  margin-bottom: 4rem;
}

.mediaCard a {
  background: none;
  color: var(--color-blue);
  text-decoration: none;
  margin-top: auto;
  margin-left: auto;
}

.mediaCard svg {
  height: auto;
}

.mediaCard hr {
  width: 100%;
  border: 1px solid var(--color-purple-light);
}

.mediaCard .logoWrapper {
  height: 30%;
}
