.sash {
  background: white;
  padding: 1vh 0;
  text-align: center;
  max-width: 100%;
}

.sash span {
  display: block;
}

.sash span:first-child {
  color: var(--color-gray);
  padding-top: 2.2rem;
  font-size: var(--font-size-bigger);
  font-weight: var(--font-weight-bold);
}

.sash span:nth-child(2) {
  color: var(--color-gray-light);

  font-size: var(--font-size-medium);
}

.sash figure {
}

.sash figure > svg {
  max-width: 16vw;
}
