.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  clear: both;
  padding-top: 2rem;
}

.sponsors svg {
  width: auto;
  max-width: 100%;
}
.sponsors div:first-of-type svg {
}

.sponsors .eu {
}

.sponsors .blockchain{

}

.sponsors div {
  align-self: flex-end;
}
.sponsors .reuters {
  padding: 0;
}

.sponsors .reuters path {
}

.sponsors .bpi {
  vertical-align: middle;

  padding: 1rem;
}

.sponsors .euContainer {
  display: block;
  width: 60%;
}
.sponsors .blockchainGovContainer {
  display: block;
  width: 30%;
}

.sponsors .bpiContainer {
  display: block;
  width: 30%;
}

.sponsors .reutersContainer {
  display: block;
  width: 60%;
}

.sponsors div {
  margin: auto;
}

@media (min-width: 1000px) {
  .euContainer {
    position: relative;
    left: 10%;
    width: 40% !important;
  }
  .blockchainGovContainer {
    width: 40% !important;
  }

  .bpiContainer {
    width: 20% !important;
  }
  .reutersContainer {
    width: 50% !important;
  }
}
