.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.reutersContainer {
}

.bpiContainer {
}

.sponsors svg {
  height: 80px;
  width: auto;
  max-width: 100%;
}
.sponsors div:first-of-type svg {
  margin-top: 3rem;
}

.sponsors div {
  align-self: flex-end;
}
.reuters {
  padding: 0;
  filter: grayscale(100%);
  filter: gray;
}

.reuters path {
  fill: white;
}

.bpi {
  verticalalign: middle;
  "-webkit-filter":grayscale(100%) ;
  filter: grayscale(100%);
  filter: gray;

  padding: 1rem;
}
