.usecases {
}

.usecases .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* space between columns for demo */
  grid-gap: 2rem;
  margin-top: 4rem;
}

@media (max-width: 1200px) {
  .escrow .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* space between columns for demo */
    grid-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .escrow .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* space between columns for demo */
    grid-gap: 2rem;
  }
}
