.verticalCard {
  background: var(--color-purple-faded);
  border-radius: 12px;
  text-align: left;
  padding: 1.6rem;
  height: 100%;
  overflow: auto;
  text-align: center;
  border-radius: 37.3588px;
}
.verticalCard img {
  width: 12rem;
  height: auto;
  margin-bottom: 1.2rem;
}

.verticalCard span:nth-of-type(1) {
  font-size: var(--font-size-bigger);
  color: white;
  font-weight: var(--font-weight-bold);
  display: block;
}

.verticalCard span:nth-of-type(2) {
  font-size: var(--font-size-medium);
  color: var(--color-pink);
  display: block;
  margin-bottom: 4rem;
}

.verticalCard button {
  margin-bottom: 2rem;
}
